/* Resets default browser styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header itself*/
header {
    background-color: #F5CFC2;
    padding: 40px 0px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* navigation bar */
nav {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

/* logo */
.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo img {
    height: 130px;
}

/* navigation bar contents */
.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.nav-links.left {
    margin-right: auto;
    gap: 30px;
}

.nav-links.right {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 45%;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    font-family: 'Comfortaa', sans-serif;
    text-decoration: none;
    font-weight: 900;
    font-size: 18px;
    color: black;
}

.nav-links a:hover {
    color: #E38B76; /* Highlight color on hover */
}

.cart {
    position: relative;
    margin-left: 10%;
    display: flex;
}

.cart img {
    height: 40px;
}

.user-icon {
    position: relative;
    margin-left: 5%;
    display: flex;
}

.user-icon img{
    height: 30px;
}

.search {
    position: relative;
    margin-left: 5%;
    display: flex;
}

.search img{
    height: 30px;
}